
{% load static %}

{% block title %}Registro{% endblock %}

{% block navbar %}
<div class="d-none d-lg-flex m-0 p-0 row h-8 paste-blue-bg">
</div>
{% endblock %}

{% block content %}
<div class="m-0 px-0 py-5 flex-grow-1 row align-items-center justify-content-center paste-blue-bg">
  <div class="d-flex flex-column align-items-center justify-content-center gap-5">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="{% static 'static/img/logo_academia.svg'%}" alt="logo academia" style="width:300px;">
            <h1 class="ms-3 mb-0 text-white shadow-text">A academia</h1>
        </div>
    </div>
    <div class="px-0 mx-0 mb-0 mt-5 d-flex flex-column w-auto paste-blue-bg">
      <form method="post" class="mb-lg-0 mb-4 mx-2 d-flex flex-column align-items-center justify-content-center gap-3 grey-14o-bg rounded-5 p-2">
        <h2 class="text-white ">Registro</h2>
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" class="form-control rounded-pill fs-5" placeholder="Usuário">
        </div>
        <span class="text-light">Obrigatório. 150 caracteres ou menos. Letras, números e @/./+/-/_ apenas.</span>
        <div class="form-group">
            <input type="email" name="email" maxlength="254" required="" id="id_email" class="px-3 form-control fs-5 rounded-pill"  placeholder="E-mail">
        </div>
        <div class="form-group">
            <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" class="px-3 fs-5 rounded-pill form-control"  placeholder="Senha">
        </div>
        <ul class="text-white">
            <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
            <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
            <li>Sua senha não pode ser uma senha comumente utilizada.</li>
            <li>Sua senha não pode ser inteiramente numérica.</li>
        </ul>
        <div class="form-group">
            <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" class="px-3 fs-5 rounded-pill form-control"  placeholder="Confirmação de Senha">
        </div>
        <button id = "btnLogin" type="submit" class="px-5 btn btn-block rounded-5 bg-black fs-4 text-white">Registrar</button>
        <div class="mb-5 d-flex flex-row gap-3 align-items-center justify-content-center rounded-5 p-0 w-sm-350">
            <span class="text-white">OU</span>
            <a class="link text-white text-decoration-none" href="{% url 'portal:login' %}">Já possuo conta</a>
        </div>
      </form>
    </div>
</div>
{% endblock %}