{% extends 'base.html' %}

{% block content %}
<h2>Pricing Plan</h2>
<div class="pricing-container">
    {% for plano in planos %}
        <div class="pricing-plan">
            <h3>{{ plano.nome }}</h3>
            <p>${{ plano.preco }}/Month</p>
            <p>{{ plano.descricao }}</p>
            <ul>
                {% for beneficio in plano.listar_beneficios %}
                    <li>{{ beneficio }}</li>
                {% endfor %}
            </ul>
            <button>Choose Plan</button>
        </div>
    {% endfor %}
</div>
{% endblock %}
